@page "/recurrent/{year:int}/{ministry}/{program}/{subprogram}"
@using Budget_Estimates_Management_System.Models;
@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject NavigationManager NavigationManager
@inject IDbData _db;
@inject IRecEstimateData _rdb;

<RecNav year=@year ministry=@ministry program=@program subprogram=@subprogram></RecNav>
<h4><a href="/recurrent/@year/@ministry">@ministry - @ministryName</a></h4>
<h3><a href="/recurrent/@year/@ministry/@program">@program - @programName</a></h3>
<h2>@subprogram - @subprogramName</h2>



@if (accountGroup == null )
{
   <Loading></Loading>
}
else {
    @if  (accountGroup.Count==0)
    {
            <p>No entries found for @year - @(year+1)</p>
    }
    else
    {
        <table class="table table-hover">
  
             <thead style="background-color:lightskyblue">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sub Program</th>
                  <th scope="col" class="text-end">Estimates @(year-1)/@(year)</th>
                  <th scope="col" class="text-end">Estimates @year/@(year+1) </th>
                  <th scope="col" class="text-end">Estimates @(year+1)/@(year+2) </th>
                  <th scope="col" class="text-end">Estimates @(year+2)/@(year+3)</th>
                </tr>
              </thead>
      <tbody>
            @foreach (var item in accountGroup)
            {
           <tr> 
          <th scope="row" @onclick="() => NavigateTo(year,ministry,program,subprogram,item.item)" style="cursor:pointer;">@item.item</th>
          <td  @onclick="() => NavigateTo(year,ministry,program,subprogram,item.item)" style="cursor:pointer;">@item.itemName</td>
          <td class="text-end" style="background-color:lightgray">@item.year0.ToString("C")</td>
          <td class="text-end"><b>@item.year1.ToString("C")</b></td>
          <td class="text-end">@item.year2.ToString("C")</td>
          <td class="text-end">@item.year3.ToString("C")</td>
        </tr>
            }
                   <tr> 
          <th scope="row"></th>
          <td><b><i>Total:</i></b></td>
          <td class="text-end" style="background-color:lightgray">@year0T.ToString("C")</td>
          <td class="text-end"><b>@year1T.ToString("C")</b></td>
          <td class="text-end">@year2T.ToString("C")</td>
          <td class="text-end">@year3T.ToString("C")</td>
        </tr>
            </tbody>
       </table>
    }
}

@code {
    [Parameter]
    public int year { get; set; }
    [Parameter]
    public string ministry { get; set; }
    [Parameter]
    public string program { get; set; }
    [Parameter]
    public string subprogram { get; set; }

    private string ministryName;
    private string programName;
    private string subprogramName;


    public int year0T = 0;
    public int year1T = 0;
    public int year2T = 0;
    public int year3T = 0;

    private List<GroupingModel> accountGroup;

    protected override async Task OnInitializedAsync()
    {
        try { ministryName= await _db.GetMinistryName(ministry); } catch{}
        try { programName = await _db.GetProgramName(program); } catch{}
        try { subprogramName = await _db.GetSubProgramName(subprogram); } catch{}
        accountGroup= await _rdb.GetAccountDataForYear(year,ministry,program,subprogram);
        year0T = accountGroup.Sum(x=>x.year0);
        year1T = accountGroup.Sum(x=>x.year1);
        year2T = accountGroup.Sum(x=>x.year2);
        year3T = accountGroup.Sum(x=>x.year3);     
    }

    protected override async void OnParametersSet()
    {
         try { ministryName= await _db.GetMinistryName(ministry); } catch{}
        try { programName = await _db.GetProgramName(program); } catch{}
        try { subprogramName = await _db.GetSubProgramName(subprogram); } catch{}
        accountGroup= await _rdb.GetAccountDataForYear(year,ministry,program,subprogram);
        year0T = accountGroup.Sum(x=>x.year0);
        year1T = accountGroup.Sum(x=>x.year1);
        year2T = accountGroup.Sum(x=>x.year2);
        year3T = accountGroup.Sum(x=>x.year3);
        base.StateHasChanged();
    }

       private void NavigateTo(int year, string ministry, string program, string subprogram, string account)
    {
         NavigationManager.NavigateTo($"recurrent/{year}/{ministry}/{program}/{subprogram}/{account}", forceLoad: true);
  
    }
}
