@page "/recurrent/{year:int}/{ministry}"
@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;
@inject IRecEstimateData _rdb;
@inject NavigationManager NavigationManager

<RecNav year=@year ministry=@ministry></RecNav>

<h2>(@ministry) @ministryName</h2>

@if (programGroup == null )
{
   <Loading></Loading>
}
else {
    @if  (programGroup.Count==0)
    {
            <p>No entries found for @year - @(year+1)</p>
    }
    else
    {
        <table class="table table-hover">
  
             <thead style="background-color:lightskyblue">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Program</th>
                  <th scope="col" class="text-end">Estimates @(year-1)/@(year)</th>
                  <th scope="col" class="text-end">Estimates @year/@(year+1) </th>
                  <th scope="col" class="text-end">Estimates @(year+1)/@(year+2) </th>
                  <th scope="col" class="text-end">Estimates @(year+2)/@(year+3)</th>
                </tr>
              </thead>
      <tbody>
            @foreach (var item in programGroup)
            {
           <tr @onclick="() => NavigateTo(year,ministry,item.item)"> 
          <th scope="row">@item.item</th>
          <td>@item.itemName</td>
          <td class="text-end" style="background-color:lightgray">@item.year0.ToString("C")</td>
          <td class="text-end"><b>@item.year1.ToString("C")</b></td>
          <td class="text-end">@item.year2.ToString("C")</td>
          <td class="text-end">@item.year3.ToString("C")</td>
        </tr>
            }
            </tbody>
       </table>
    }
}

@code {
	[Parameter]
	public int year { get; set; }
	[Parameter]
	public string ministry { get; set; }

	private string ministryName;

	private List<GroupingModel>? programGroup;

	protected override async Task OnInitializedAsync()
    {
		
		ministryName= await _db.GetMinistryName(ministry);
        programGroup= await _rdb.GetProgramDataForYear(year,ministry);
    }

      protected override async void OnParametersSet()
    {
       ministryName= await _db.GetMinistryName(ministry);
        programGroup= await _rdb.GetProgramDataForYear(year,ministry);
        base.StateHasChanged();
    }

      private void NavigateTo(int year, string ministry, string program)
    {
         NavigationManager.NavigateTo($"recurrent/{year}/{ministry}/{program}", forceLoad: true);
  
    }
}
