@page "/recurrent/{year:int}"

@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IRecEstimateData _rdb;
@inject NavigationManager NavigationManager

<h3>Ministry Estimates</h3>

<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#newEntry">Add New Entry</button>
<p />
<Rec_AddEntry year=@year OnSaveEntry="RefreshList"></Rec_AddEntry>

@if (minGroup is null )
{
   <Loading></Loading>
}
else {
    @if  (minGroup.Count==0)
    {
            <p>No entries found for @year - @(year+1)</p>
    }
    else
    {
        <table class="table table-hover">
  
             <thead style="background-color:lightseagreen">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ministry</th>
                  <th scope="col" class="text-end">Estimates<br> @(year-1)/@(year)</th>
                  <th scope="col" class="text-end">Estimates <br>@year/@(year+1) </th>
                  <th scope="col" class="text-end">Estimates <br>@(year+1)/@(year+2) </th>
                  <th scope="col" class="text-end">Estimates<br> @(year+2)/@(year+3)</th>
                </tr>
              </thead>
      <tbody>
            @foreach (var item in minGroup)
            {
                    <tr> 
          <th scope="row" @onclick="() => NavigateTo(year,item.item)" style="cursor:pointer;">@item.item</th>
          <td @onclick="() => NavigateTo(year,item.item)" style="cursor:pointer;">@item.itemName</td>
          <td class="text-end" style="background-color:lightgray">@item.year0.ToString("C")</td>
          <td class="text-end"><b>@item.year1.ToString("C")</b></td>
          <td class="text-end">@item.year2.ToString("C")</td>
          <td class="text-end">@item.year3.ToString("C")</td>
        </tr>

            }
            <tr> 
          <th scope="row"></th>
          <td><b><i>Total:</i></b></td>
          <td class="text-end" style="background-color:lightgray">@year0T.ToString("C")</td>
          <td class="text-end"><b>@year1T.ToString("C")</b></td>
          <td class="text-end">@year2T.ToString("C")</td>
          <td class="text-end">@year3T.ToString("C")</td>
        </tr>
            </tbody>
       </table>
    }
}

@code {
    [Parameter]
    public int year { get; set; }

    private List<GroupingModel> minGroup;

    public int year0T = 0;
    public int year1T = 0;
    public int year2T = 0;
    public int year3T = 0;

    protected override async Task OnInitializedAsync()
    {
        minGroup=  await _rdb.GetMinDataForYear(year);
        year0T = minGroup.Sum(x=>x.year0);
        year1T = minGroup.Sum(x=>x.year1);
        year2T = minGroup.Sum(x=>x.year2);
        year3T = minGroup.Sum(x=>x.year3);
    }

      protected override async void OnParametersSet()
    {
        minGroup=  await _rdb.GetMinDataForYear(year);
        year0T = minGroup.Sum(x=>x.year0);
        year1T = minGroup.Sum(x=>x.year1);
        year2T = minGroup.Sum(x=>x.year2);
        year3T = minGroup.Sum(x=>x.year3);
        base.StateHasChanged();
    }

    private void NavigateTo(int year, string ministry)
    {
         NavigationManager.NavigateTo($"recurrent/{year}/{ministry}", forceLoad: true);
  
    }

    private async void RefreshList()
    {
       minGroup=  await _rdb.GetMinDataForYear(year);
        base.StateHasChanged();
    }

}
