@page "/recurrent/{year:int}/{ministry}/{program}/{subprogram}/{accountType}"
@using Budget_Estimates_Management_System.Models;
@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;
@inject IRecEstimateData _rdb;

<RecNav year=@year ministry=@ministry program=@program subprogram=@subprogram account=@accountType></RecNav>
<h5><a href="/recurrent/@year/@ministry">@ministry - @ministryName</a></h5>
<h4><a href="/recurrent/@year/@ministry/@program">@program - @programName</a></h4>
<h3><a href="/recurrent/@year/@ministry/@program/@subprogram">@subprogram - @subprogramName</a></h3>
<h2>@accountType - @accountTypeName</h2>

 
@if (accountGroup is null )
{
   <Loading></Loading>
}
else {
    @if  (accountGroup.Count==0)
    {
            <p>No entries found for @year - @(year+1)</p>
    }
    else
    {
        <table class="table table-hover">
  
             <thead style="background-color:lightskyblue">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sub Program</th>
                  <th scope="col" class="text-end">Estimates @(year-1)/@(year)</th>
                  <th scope="col" class="text-end">Estimates @year/@(year+1) </th>
                  <th scope="col" class="text-end">Estimates @(year+1)/@(year+2) </th>
                  <th scope="col" class="text-end">Estimates @(year+2)/@(year+3)</th>
                </tr>
              </thead>
      <tbody>
            @foreach (var item in accountGroup)
            {
               <RecLineDetail item=@item year=@year ministry=@ministry program=@program subprogram=@subprogram></RecLineDetail>
            }
                   <tr> 
          <th scope="row"></th>
          <td><b><i>Total:</i></b></td>
          <td class="text-end" style="background-color:lightgray">@year0T.ToString("C")</td>
          <td class="text-end"><b>@year1T.ToString("C")</b></td>
          <td class="text-end">@year2T.ToString("C")</td>
          <td class="text-end">@year3T.ToString("C")</td>
        </tr>
            </tbody>
       </table>
    }
}


@code {
	[Parameter]
    public int year { get; set; }
    [Parameter]
    public string ministry { get; set; }
    [Parameter]
    public string program { get; set; }
    [Parameter]
    public string subprogram { get; set; }
    [Parameter]
    public string accountType { get; set; }

    public int year0T = 0;
    public int year1T = 0;
    public int year2T = 0;
    public int year3T = 0;

    private string ministryName;
    private string programName;
    private string subprogramName;
    private string accountTypeName;

    private List<GroupingModel> accountGroup;

    protected override async Task OnInitializedAsync()
    {
        try { ministryName= await _db.GetMinistryName(ministry); } catch{}
        try { programName = await _db.GetProgramName(program); } catch{}
        try { subprogramName = await _db.GetSubProgramName(subprogram); } catch{}
        try { accountTypeName = await _db.GetAccountName(accountType); } catch{}

        accountGroup= await _rdb.GetAccountDataForYear(year,ministry,program,subprogram,accountType);
        year0T = accountGroup.Sum(x=>x.year0);
        year1T = accountGroup.Sum(x=>x.year1);
        year2T = accountGroup.Sum(x=>x.year2);
        year3T = accountGroup.Sum(x=>x.year3);     

        
    }

     protected override async void OnParametersSet()
    {
          try { ministryName= await _db.GetMinistryName(ministry); } catch{}
        try { programName = await _db.GetProgramName(program); } catch{}
        try { subprogramName = await _db.GetSubProgramName(subprogram); } catch{}
        try { accountTypeName = await _db.GetAccountName(accountType); } catch{}

        accountGroup= await _rdb.GetAccountDataForYear(year,ministry,program,subprogram,accountType);
        year0T = accountGroup.Sum(x=>x.year0);
        year1T = accountGroup.Sum(x=>x.year1);
        year2T = accountGroup.Sum(x=>x.year2);
        year3T = accountGroup.Sum(x=>x.year3);   

        base.StateHasChanged();
    }


}
