@page "/recurrent/{year:int}/{ministry}/{program}"
@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;
@inject IRecEstimateData _rdb;

<RecNav year=@year ministry=@ministry program=@program></RecNav>

<h2><a href="/recurrent/@year/@ministry">(@ministry) @ministryName</a></h2>
<h3>(@program) @programName</h3>

@if (subprogramGroup == null )
{
   <Loading></Loading>
}
else {
    @if  (subprogramGroup.Count==0)
    {
            <p>No entries found for @year - @(year+1)</p>
    }
    else
    {
        <table class="table table-hover">
  
             <thead style="background-color:lightskyblue">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sub Program</th>
                  <th scope="col" class="text-end">Estimates @(year-1)/@(year)</th>
                  <th scope="col" class="text-end">Estimates @year/@(year+1) </th>
                  <th scope="col" class="text-end">Estimates @(year+1)/@(year+2) </th>
                  <th scope="col" class="text-end">Estimates @(year+2)/@(year+3)</th>
                </tr>
              </thead>
      <tbody>
            @foreach (var item in subprogramGroup)
            {
           <tr> 
          <th scope="row">@item.item</th>
          <td>@item.itemName</td>
          <td class="text-end" style="background-color:lightgray">@item.year0.ToString("C")</td>
          <td class="text-end"><b>@item.year1.ToString("C")</b></td>
          <td class="text-end">@item.year2.ToString("C")</td>
          <td class="text-end">@item.year3.ToString("C")</td>
        </tr>
            }
            </tbody>
       </table>
    }
}

@code {
	[Parameter]
	public int year { get; set; }
	[Parameter]
	public string ministry { get; set; }
    [Parameter]
	public string program { get; set; }

	private string ministryName;
    private string programName;

	private List<GroupingModel> subprogramGroup;

	protected override async Task OnInitializedAsync()
    {
		
		ministryName= await _db.GetMinistryName(ministry);
        programName= await _db.GetProgramName(program);
        subprogramGroup= await _rdb.GetSubProgramDataForYear(year,ministry,program);
    }
}
