@page "/capital/{year:int}"

@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject ICAPBudgetData _cdb;
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider authStateProvider;
@attribute [Authorize(Roles = "Administrator,MinistryStaff,BudgetStaff")];

<h3>Ministry Estimates</h3>

<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#newEntryCAP">Add New Entry</button>
<br />
<br />

<!-- MODAL -->
<!-- ---------------------------------------------------------------------------------- -->
<div class="modal fade" id="newEntryCAP" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">

        <EditForm Model="@cmodel"  OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Capital Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="form-floating" style="padding-bottom:5px">
                        <InputSelect id="processingYear" placeholder="Year" class="form-select" @bind-Value="@year" disabled=true>
                                <option value=@year>@year</option>
                        </InputSelect>

                        <label for="processingYear">
                            Processing Year
                        </label>
                    </div>

                    <div class="form-floating" style="padding-bottom:5px">
                        <InputSelect id="ministry" placeholder="Ministry" class="form-select" disabled=@minDisabled @bind-Value="@cmodel.ministry">
                            @if (ministries is null)
                            {
                                <option selected>Select Processing Year first...</option>
                            }
                            else
                            {
                                <option value="" selected>Choose...</option>
                                @foreach (var item in ministries)
                                {
                                    <option value=@item.Name>@item.Name - @item.Description</option>
                                }
                            }
                        </InputSelect>
                        <label for="ministry">
                            Ministry
                        </label>
                    </div>

                    <div class="form-floating" style="padding-bottom:5px">
                        <InputSelect id="program" placeholder="Program" class="form-select" disabled=@progDisabled @bind-Value="@cmodel.program">
                            @if (programs is null)
                            {
                                <option selected>Select a Ministry first...</option>
                            }
                            else
                            {
                                <option value="" selected>Choose...</option>
                                @foreach (var item in programs)
                                {
                                    <option value=@item.Name>@item.Name - @item.Description</option>
                                }
                            }
                        </InputSelect>
                        <label for="program">
                            Program
                        </label>
                    </div>

                    <div class="form-floating" style="padding-bottom:5px">
                        <InputSelect id="subprogram" placeholder="Sub-Program" class="form-select" disabled=@sprogDisabled @bind-Value="@cmodel.subprog">
                            @if (subprograms is null)
                            {
                                <option selected>Select a Program first...</option>
                            }
                            else
                            {
                                <option value="" selected>Choose...</option>
                                @foreach (var item in subprograms)
                                {
                                    <option value=@item.Name>@item.Name - @item.Description</option>
                                }
                            }
                        </InputSelect>
                        <label for="subprog">
                            Sub-Program
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<!-- TABLE -->
<!-- ---------------------------------------------------------------------------------- -->
@if (data is null)
{
    <Loading></Loading>
}
else
{
    @if (data.Count == 0)
    {
        <p>No entries found for @year - @(year+1)</p>
    }
    else
    {
        <table class="table table-hover">

            <thead style="background-color:lightseagreen">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ministry</th>
                    <th scope="col" class="text-end">Estimates</th>
                    <th scope="col" class="text-end">Program</th>
                    <th scope="col" class="text-end">Sub Program</th>
                    <th scope="col" class="text-end">Project</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data)
                {
                    <tr>
                        <th scope="row" @onclick="() => NavigateTo(year,item.id)" style="cursor:pointer;">@item.id</th>
                        <td @onclick="() => NavigateTo(year,item.id)" style="cursor:pointer;">@item.ldr_entity_id@item.ministry</td>
                        <td class="text-end" style="background-color:lightgray">@Convert.ToInt32(item.ldr_amt_1).ToString("C")</td>
                        <td class="text-end"><b>@item.program</b></td>
                        <td class="text-end"><b>@item.subprog</b></td>
                        <td class="text-end"><b>@item.project</b></td>
                    </tr>
                }
                <tr style="background-color:lightyellow">
                    <th scope="row"></th>
                    <td><b><i>Total:</i></b></td>
                    <td class="text-end" style="background-color:lightgoldenrodyellow">@tot.ToString("C")</td>
                    <td class="text-end"><b></b></td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                </tr>
            </tbody>
        </table>
    }
}

@code {
    [Parameter]

    // READ
    public int year { get; set; }
    private string username;
    private List<CAPBudgetModel> data;
    public int tot = 0;

    // ADD
    private string saveError;
    private string saveSuccess;
    public string ministry { get; set; }
    public string program { get; set; }
    public string subprogram { get; set; }
    private bool minDisabled = false;
    private bool progDisabled = false;
    private bool sprogDisabled = false;
    private EditContext EditContext;
    private List<ListItemModel> ministries;
    private List<ListItemModel> programs;
    private List<ListItemModel> subprograms;
    CAPBudgetModel cmodel = new CAPBudgetModel();

    protected override async Task OnInitializedAsync()
    {
        // READ
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        username = authState.User.Identity.Name;
        data = await _cdb.GetData(year);
        tot = data.Sum(x => Convert.ToInt32(x.ldr_amt_1));

        // ADD               
        EditContext = new EditContext(cmodel); //Initial Edit Context
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;

        ministries = await _cdb.GetDependantMinistries(username); // Get the list data for ministry
        if (!String.IsNullOrWhiteSpace(ministry))
        {
            cmodel.ministry = ministry;
            programs = await _cdb.GetDependantPrograms(cmodel.ministry, username); // Get the list data for program
            minDisabled = true;
        }
        if (!String.IsNullOrWhiteSpace(program))
        {
            cmodel.program = program;
            subprograms = await _cdb.GetDependantSubPrograms(cmodel.ministry, cmodel.program, username); // Get the list data for sub_program
            progDisabled = true;
        }
        if (!String.IsNullOrWhiteSpace(subprogram))
        {
            cmodel.subprog = subprogram;
            sprogDisabled = true;
        }
        //set required hidden fields
        cmodel.account = null;
        cmodel.project = "";
        cmodel.sector = "";
        cmodel.sof = "";
        cmodel.lastcode = "";
        cmodel.curr_code = "";
        cmodel.Expr1000 = "";
        cmodel.Expr1001 = "";
        cmodel.Expr1002 = "";
        cmodel.Expr1003 = "";
        cmodel.Expr1004 = "";
        cmodel.Expr1005 = "";
        cmodel.Expr1006 = "";
        cmodel.Expr1007 = "";
        cmodel.Expr1008 = "";
        cmodel.Expr1009 = "";
        cmodel.Expr1010 = "";
        cmodel.Expr1011 = "";
        cmodel.Expr1012 = "";
        cmodel.Expr1013 = "";
        cmodel.ldr_amt_0 = "";
        cmodel.Name = "";
    }
    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        //clear any save messages because we entering new stull
        saveSuccess = "";
        saveError = "";

        if (e.FieldIdentifier.FieldName == "ministry")
        {
            MinistryChanged();
        }
        if (e.FieldIdentifier.FieldName == "program")
        {
            ProgramChanged();
        }
        if (e.FieldIdentifier.FieldName == "subprog")
        {
            SubProgramChanged();
        }
    }

    private async void MinistryChanged()
    {
        //need to clear all dependencies
        subprograms = null;
        cmodel.program = null;
        cmodel.subprog = null;
        programs = await _cdb.GetDependantPrograms(cmodel.ministry, username);
        base.StateHasChanged();
    }

    private async void ProgramChanged()
    {
        //need to clear all dependencies
        cmodel.subprog = null;
        subprograms = await _cdb.GetDependantSubPrograms(cmodel.ministry, cmodel.program, username);
        base.StateHasChanged();
    }

    private async void SubProgramChanged()
    {
        //need to clear all dependencies
        base.StateHasChanged();
    }

    protected override async void OnParametersSet()
    {
        data = await _cdb.GetData(year);
        base.StateHasChanged();
    }

    private async void SetFields()
    {
        // Get the list data for ministry
        if (ministries is null) { ministries = await _cdb.GetDependantMinistries(username); }
        if (!String.IsNullOrWhiteSpace(ministry))
        {
            cmodel.ministry = ministry;
            if (programs is null) { programs = await _cdb.GetDependantPrograms(cmodel.ministry, username); }
            minDisabled = true;
        }
        if (!String.IsNullOrWhiteSpace(program))
        {
            cmodel.program = program;
            if (subprograms is null) { subprograms = await _cdb.GetDependantSubPrograms(cmodel.ministry, cmodel.program, username); }
            progDisabled = true;
        }

        if (!String.IsNullOrWhiteSpace(subprogram))
        {
            cmodel.subprog = subprogram;
            sprogDisabled = true;
        }
        cmodel.account = null;
        cmodel.project = "";
        cmodel.sector = "";
        cmodel.sof = "";
        cmodel.lastcode = "";
        cmodel.curr_code = "";
        cmodel.Expr1000 = "";
        cmodel.Expr1001 = "";
        cmodel.Expr1002 = "";
        cmodel.Expr1003 = "";
        cmodel.Expr1004 = "";
        cmodel.Expr1005 = "";
        cmodel.Expr1006 = "";
        cmodel.Expr1007 = "";
        cmodel.Expr1008 = "";
        cmodel.Expr1009 = "";
        cmodel.Expr1010 = "";
        cmodel.Expr1011 = "";
        cmodel.Expr1012 = "";
        cmodel.Expr1013 = "";
        cmodel.ldr_amt_0 = "";
        cmodel.Name = "";
    }

    private async void HandleValidSubmit()
    {
        saveError = "";
        saveSuccess = "";
        try
        {
            // entry.last_modified = DateTime.Now;
            int affectedRows = await _cdb.INSERT_CaptialEntry(cmodel);
            //save successfully.  Reset form
            if (affectedRows == 0)
            {
                saveError = "Something happened.  Record was not saved";
                base.StateHasChanged();
            }
            else
            {
                EditContext = new EditContext(cmodel);
                EditContext.OnFieldChanged += EditContext_OnFieldChanged;
                SetFields();
                saveSuccess = "Record Successfully Saved.";
                base.StateHasChanged();
                // run the parent procedure
                // await OnSaveEntry.InvokeAsync();
            }

        }
        catch (Exception e)
        {
            saveError = e.Message;

            base.StateHasChanged();
        }

    }

    private void HandleInvalidSubmit()
    {
        saveSuccess = "";
        saveError = "Please complete the form properly. Thank you.";
        base.StateHasChanged();
    }

    private void NavigateTo(int year, int id)
    {
        NavigationManager.NavigateTo($"recurrent/{year}/{id}", forceLoad: true);

    }

    private async void RefreshList()
    {
        data = await _cdb.GetData(year);
        base.StateHasChanged();
    }

}
